.gameCard {
  border-radius: 0.25rem;
  background: var(--bg-color-secondary);
  box-shadow: 0 4px 10px 0 var(--shadow-color);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transform-style: flat;
  backface-visibility: hidden;

  img {
    backface-visibility: hidden;
    transition: 200ms transform ease-in-out;
  }

  .cardBody {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .categoryBtn {
    margin-top: auto;
    position: relative;
  
    .categoryList {
      background-color: var(--bg-color-secondary);
      color: var(--fg-color-secondary);
      display: none;
      border-radius: 4px;
      padding: 5px;
      position: absolute;
      bottom: 0;
      list-style: none;
      gap: 5px;
      box-shadow: 0 2px 5px 0 var(--shadow-color);
      z-index: 10;
    }
  
    &:hover, &:focus {
      .categoryList {
        display: grid;
      }
    }
  }

  h2 { font-size: 1.15rem; }

  p {
    font-size: 0.9rem;
    color: var(--fg-color-secondary);
  
    overflow:hidden;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
  }

  &:hover {
    img {
      transform: scale(1.025);
    }
  }
} 
