.gameCard {
  border-radius: 0.25rem;
  background: var(--bg-color-secondary);
  box-shadow: 0 4px 10px 0 var(--shadow-color);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transform-style: flat;
  backface-visibility: hidden;

  .cardBody {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .categoryBtn {
    width: fit-content;
    appearance: none;
    background-color: var(--brand-color);
    color: var(--fg-brand-color);
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid var(--brand-color);
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 var(--shadow-color);
    padding: 5px 7px;
    margin-top: auto;
    position: relative;

    .categoryList {
      background-color: var(--bg-color-secondary);
      color: var(--fg-color-secondary);
      font-size: 0.80rem;
      display: none;
      border-radius: 4px;
      padding: 5px;
      position: absolute;
      bottom: 0;
      list-style: none;
      gap: 5px;
      box-shadow: 0 2px 5px 0 var(--shadow-color);
      z-index: 10;
    }

    &:hover,
    &:focus {
      .categoryList {
        display: grid;
      }
    }
  }

  .buttonGroup {
    margin-top: auto;
    display: flex;
    gap: 10px;

    button {
      height: 100%;
    }
  }

  h2 {
    font-size: 1.15rem;
  }

  p {
    font-size: 0.9rem;
    color: var(--fg-color-secondary);

    overflow: hidden;
    max-height: 4rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    margin-bottom: 5px;
  }
}
