.mainHeader {
  height: 4rem;
  flex: none;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 var(--shadow-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-secondary);
  z-index: 999;
}

.profile {
  border-radius: 50%;
}

.flexRow {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  font-weight: bold;
  letter-spacing: 0.05ch;
}

.navigation {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.user {
  display: flex;
  align-items: center;
}

.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
