.mainFooter {
  min-height: 4rem;
  margin-top: auto;
  box-shadow: 0 -2px 5px 0 var(--shadow-color);
  background-color: var(--bg-color-secondary);

  li, p { font-size: 0.95rem; }
  
  .footerLinks {
    width: fit-content;
    display: flex;
    list-style: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid dimgray;

    li {
      color: var(--fg-color-secondary);
      &:hover { text-decoration: underline; }
    }

    li + li::before {
      content: '|';
      margin: 0 0.25rem;
      opacity: 0.4;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 600px) {
  .mainFooter {
    .footerLinks {
      flex-direction: column;
  
      li + li::before {
        display: none;
      }
    }
  }
}
