@import '../mixins';

.mainHeader {
  height: 4rem;
  flex: none;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 var(--shadow-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color-secondary);
  z-index: 999;
}

.profile {
  border-radius: 50%;
}

.flexRow {
  height: 100%;
  display: flex;
  justify-content: space-evenly;

  .logo,
  .navigation,
  .user {
    flex: 1;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo a {
  font-weight: bold;
  letter-spacing: 0.05ch;
}

.navigation {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style: none;

  a {
    border: 1px solid transparent;
    transition: border-bottom 250ms ease-out;

    &:hover {
      border-bottom: 1px solid var(--fg-color);
    }
  }
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.mobile {
  display: none;
  position: relative;
  align-items: center;
}

.mobileMenuToggle {
  height: max-content;
  align-self: center;
}

.mobileMenu {
  height: fit-content;
  width: calc(100% * 2.5);
  display: none;
  position: absolute;
  top: 85%;
  right: 0;
  background-color: var(--bg-color-secondary);
  padding: 15px;
  box-shadow: 0 0 10px 0 var(--shadow-color);
  border-radius: 0.25rem;
  z-index: 999;

  .navigation {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.open {
    display: flex;
    flex-direction: column;
  }
}

@include phone {
  .mobile {
    display: flex;
  }

  .navigation,
  .user {
    display: none;
  }
}
