@import '../mixins';

.form {
  @include menu;
  padding: 10px;

  label {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  input, textarea {
    &:not([type="submit"]) {
      margin-bottom: 10px;
      background-color: var(--color-background-accented-darker);
    }
  }
  
  textarea {
    resize: none;
  }
}

.bannerSuccess {
  display: block;
  margin-top: 10px;
  font-size: 0.85rem;
  color: var(--color-success);
  font-weight: bold;
}
