@import '../mixins';

.header {
  width: 100%;
  min-height: 63.5px;
  background-color: var(--color-background-dark);
  
  nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;    
  }

  .logo {
    font-size: 1.15rem;
    font-weight: bold;
    
    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.mainNavigation {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;

  li {
    a {
      color: var(--color-text);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &:not(:last-child)::after {
      content: '|';
      opacity: 0.45;
      margin-left: 10px;
    }
  }
}

.profile {  
  .profileButton {
    padding: 0;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      border-radius: 100%;
    }
  }
}

.profileMenu {
  display: none;
  position: relative;
  
  &.active {
    display: flex;
    flex-direction: column;
  }
  
  ul {
    @include menu;
    padding: 10px 0;
    position: absolute;
    top: 5px;
    right: 5px;
    list-style: none;
    z-index: 20;

    li {
      width: 100%;

      h3 {
        font-size: 0.85rem;
        text-align: center;
        padding: 5px 10px 10px 10px;
        border-bottom: var(--border);
      }

      a {
        color: var(--color-text);
        display: flex;
        width: 100%;
        padding: 5px 20px;
        margin-bottom: 5px;
        text-decoration: none;
        transition: background-color 250ms ease-out;

        &:hover {
          background-color: var(--color-background-accented-darker);
        }
      }
    }

    button {
      margin: 5px 20px 0 20px;
    }
  }
}
