.footer {
  background-color: var(--color-background-accented);
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.footerNav {
  padding: 10px;
  display: flex;
  gap: 25px;
  
  section {
    h3 {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      list-style: none;

      li {
        a {
          color: var(--color-text-subtle);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.scrollToTop {
  background-color: var(--color-brand-primary);
  display: grid;
  place-items: center;
  padding: 2.5px;

  button {
    background-color: transparent;
    transition: color 250ms ease-out;
    border: none;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
