@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
  scroll-behavior: smooth;
}

html,
body,
#__next {
  background-color: var(--color-background);
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

#main {
  margin-bottom: 15px;
}

main {
  .main-header {
    margin: 15px 0;
  }
}

.hidden {
  display: none!important;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  padding: 0 10px;
  margin-inline: auto;
}

.half-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @include phone {
    grid-template-columns: 1fr;
  }
}

a {
  color: var(--color-brand-primary);
}

.card {
  @include menu;
}

.pd-5 {
  padding: 5px;
}

.pd-10 {
  padding: 10px;
}

input, button, textarea {
  font-size: 1rem;
}

input:not([type="submit"]), textarea {
  @include menu;
  color: var(--color-text);
  padding: 5px;

  &::placeholder {
    color: var(--color-text-subtle);
  }
}

textarea {
  font-family: var(--font-family);
}

button, input[type="submit"], a[role="button"] {
  --button-color: var(--color-brand-primary);
  --button-text-color: var(--color-text-inverted);

  background-color: var(--button-color);
  color: var(--button-text-color);
  fill: var(--button-text-color);
  width: max-content;
  display: block;
  appearance: none;
  padding: 0.5rem 1rem;
  border: var(--border);
  border-color: var(--button-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-decoration: none;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;

  &:hover {
    --button-color: var(--color-brand-darker);
  }

  &:disabled {
    --button-color: var(--color-brand-disabled);
    cursor: not-allowed;
  }

  &.inverted {
    --button-color: var(--color-button-inverted);
    
    &:hover {
      --button-color: var(--color-button-inverted-darker);
    }
  }
}

.iconLink {
  display: flex;
  align-items: center;

  svg {
    width: 16px;
    margin-left: 5px;
  }
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 32px;
  }
}
