@mixin phone {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: 600px) and (max-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 900px) {
    @content;
  }
}

@mixin menu {
  background-color: var(--color-background-accented);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}
