.aboutSection {
  margin-bottom: 30px;
  
  h2 {
    width: fit-content;
    font-size: 1.35rem;
    margin-bottom: 5px;
    border-bottom: var(--border);
  }

  p {
    color: var(--color-text-subtle);
  }
}

.detailsList {
  list-style: none;
  margin-top: 15px;

  details {
    margin-bottom: 15px;
    padding: 10px;
    border: var(--border);
    border-radius: var(--border-radius);

    summary {
      font-weight: bold;
      cursor: pointer;
    }

    p {
      margin-top: 10px;
    }
  }
}
