@import "mixins";

.searchMenu {
  margin-bottom: 15px;
}

.banner {
  @include menu;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.success {
    color: var(--color-success)
  }

  &.failure {
    color: var(--color-failure)
  }
}
