@import 'mixins';

.searchMenu {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.searchBar {
  @include menu;
  width: 100%;
  padding: 2.5px 5px;

  &::placeholder {
    color: var(--color-text-subtle);
  }
}

.searchFilterContainer {
  position: relative;
  display: none;
  
  div {
    @include menu;
    width: 100%;
    position: absolute;
    padding: 10px;
    z-index: 10;
  }

  &.active {
    display: flex;
    flex-direction: column;
  }

  section {
    margin-bottom: 15px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .gridBox {
    list-style: none;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include phone {
      grid-template-columns: 1fr;
    }

    label {
      cursor: pointer;
      input[type="checkbox"] {
        margin-right: 7.5px;
      }
    }

  }
}

.paginationMenu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
