@import 'mixins';

.gameGrid {
  display: grid;
  gap: 15px;
  list-style: none;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}
